@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Philosopher", sans-serif;
}

a,
p,
label,
th,
td {
    font-family: "Poppins", serif;
}

a,
button {
    cursor: pointer;
}

header {
    padding: 2vw;
    margin-top: 0;
    border-bottom: 1px solid yellow;

    nav ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;

        li a:hover {
            color: white;
        }
    }
}

header:hover {
    background: rgb(50, 41, 58);

}

body {
    width: 100%;
    background-image: linear-gradient(to bottom right, gray, rgb(36, 36, 5), yellow);
}

main {
    padding: 2vw;
}

form {
    background: white;
    padding: 10vh 50px;
    max-width: 500px;
    margin: auto;
    /* box-shadow: yellow 2px 2px 10px 2px; */

    input,
    select {
        outline: none;
        padding: 5px 10px;
        margin: 20px 0;
        border: none;
    }

    button {
        padding: 5px 10px;
        background-image: linear-gradient(to bottom right, gray, yellow);
        border: none;
        border-radius: 5px;

        a {
            font-weight: bold;
        }
    }
}

form:hover {
    box-shadow: black 2px 2px 10px 2px;
}

form:active {
    box-shadow: blue 2px 2px 10px 2px;
}

footer {
    background-color: grey;
    padding: 2vw;
}

table {
    margin: auto;
    background-color: black;
    border-collapse: collapse;

    thead {
        background-color: rgb(22, 21, 21);
    }

    th,
    td {
        color: white;
        padding: 1vw;
        text-align: left;
        border: 1px solid black;
    }

    tr:nth-child(even) {
        background: rgb(53, 63, 53);
    }
}

.pic {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2vw;
    background-color: aquamarine;
    padding: 50px;
}

article {
    margin: auto;
    background-color: rgb(183, 183, 197);
    padding: 20px;
    text-align: left;
    width: 200px;
    box-shadow: 2px 2px 5px 0.1px;

}

@media  screen and (max-width:720px) {
    .pic {
        display: grid;
        grid-template-columns: auto;
    }
}